<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Abdomen</title>
    <link rel="stylesheet" href="Estiloaero.css">
</head>
<body>
    <header> 
        <h1>Rutina de Abdomen</h1>
    </header>
    <main>
        <section class="session-info">
            <img src="Boing de ñame.png" alt="Abdomen" class="session-image">
            <div class="info-container">
                <h2>Abdomen</h2>
                <p class="price">$80.000</p>
                <h3>Horarios: 7:00 - 10:00 AM</h3>
                <div class="details">
                    <h4>Detalles de la Sesión</h4>
                    <p>Frecuencia: 4-5 veces por semana</p>
                    <div class="session-schedule">
                        <div class="schedule-item">
                            <h5>Calentamiento (5-10 minutos)</h5>
                            <ul>
                                <li>Flexiones tradicionales: 2 minutos.</li>
                                <li>Estiramientos musculatura lumbaga frontal: 3-5 minutos.</li>
                                <li>Saltos suaves o jogging en el lugar: 2-3 minutos.</li>
                            </ul>
                        </div>
                        <div class="schedule-item">
                            <h5>Crunches Abdominales Tradicionales (20-30 minutos)</h5>
                            <ul>
                                <li>Plancha: 3 series de 30-60 segundos.</li>
                                <li>Elevaciones de Piernas (Leg Raises): 3 series de 12-15 repeticiones.</li>
                                <li>Oblicuos (Crunches Laterales): 3 series de 12-15 repeticiones por lado.</li>
                                <li>Escaladores: 1 minuto.</li>
                                <li>Saltos de tijera: 1 minuto.</li>
                                <li>Rotación de Tronco: 3 series de 15-20 repeticiones por lado.</li>
                                <li>High knees: 1 minuto.</li>
                            </ul>
                        </div>
                        <div class="schedule-item">
                            <h5>Enfriamiento y Estiramiento (5-10 minutos)</h5>
                            <ul>
                                <li>Caminata ligera o marcha en el lugar: 2-3 minutos.</li>
                                <li>Estiramientos estáticos, enfocándose en piernas, brazos y espalda: 3-5 minutos.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="index.html"><button>INICIO</button></a>
            </div>
        </section>
    </main>
    <script src="index.js"></script>
</body>
</html>
