<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Aeróbicos</title>
    <link rel="stylesheet" href="Estiloaero.css">
</head>
<body>
    <header>
        <h1>Tren inferior</h1>
    </header>
    <main>
        <section class="session-info">
            <img src="https://hips.hearstapps.com/hmg-prod/images/sentadillas-2-1500285620.jpg" alt="Aeróbicos" class="session-image" width="400">
            <div class="info-container">
                <h2>Sentadillas</h2>
                <p class="price">$89.000</p>
                <h3>Horarios: 7:00 - 10:00 AM</h3>
                <div class="details">
                    <h4>Detalles de la Sesión</h4>
                    <p>Frecuencia: 4-5 veces por semana</p>
                    <div class="session-schedule">
                        <div class="schedule-item">
                            <h5>Calentamiento (5-10 minutos)</h5>
                            <ul>
                                <li>Marcha en el lugar: 2 minutos.</li>
                                <li>Estiramientos dinámicos (brazos, piernas, cuello): 3-5 minutos.</li>
                                <li>Saltos suaves o jogging en el lugar: 2-3 minutos.</li>
                            </ul>
                        </div>
                        <div class="schedule-item">
                            <h5>Rutina de sentadillas (20-30 minutos)</h5>
                            <ul>
                                <li>Sentadillas con el propio peso corporal: 3 series de 10 repeticiones.</li>
                                <li>Sentadillas con peso : 3 series de 8-10 repeticiones.</li>
                                <li>Burpees: 10 repeticiones.</li>
                                <li>Sentadillas sumo: 3 series de 12 repeticiones.</li>
                                <li>Peso muerto con barra : 3 series de 5-6 repeticiones.</li>
                                <li>Peso muerto con mancuernas o kettlebell : 3 series de 8-10 repeticiones.</li>
                                <li>Peso muerto rumano: 3 series de 8-10 repeticiones.</li>
                            </ul>
                        </div>
                        <div class="schedule-item">
                            <h5>Enfriamiento y Estiramiento (5-10 minutos)</h5>
                            <ul>
                                <li>Caminata ligera o marcha en el lugar: 2-3 minutos.</li>
                                <li>Estiramientos estáticos, enfocándose en piernas, brazos y espalda: 3-5 minutos.</li>
                            </ul>
                        </div>
                    </div>
                    <a href="index.html"><button>INICIO</button></a>
                </div>
            </div>
        </section>
    </main>
    <script src="index.js"></script>
</body>
</html>
